/* #app {
    height: 100%;
} */

/* html,
body {
    position: relative;
    height: 100%;
} */

/* body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
} */

.swiper {
    width: 100%;
    height: 700px;
    background: #000;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    background-blend-mode: overlay;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 2;
}

.fontcolor {
    text-shadow: 0.2px 0.5px rgb(12, 11, 11);
}

.background {
    background-color: rgba(5, 1, 1, 0.158);
    backdrop-filter: blur(9px);
    padding: 8px;
}